#header-principal {
  background-color: navy;
  color: white;
  padding: 10px;
}

#titulo {
  color: gold;
}

#parrafo-header {
  font-style: italic;
}

#seccion1 {
  background-color: #f0f8ff;
  padding: 10px;
}

#seccion2 {
  background-color: #fff0f5;
  padding: 10px;
}

#lista1 {
  color: brown;
}

#enlace1 {
  color: green;
  font-weight: bold;
}

#pie-pagina {
  background-color: #ddd;
  text-align: center;
}
