body {
    background-color: linen;
}

.caja-1 {
    background-color: coral; 
    color: white;
}

.caja-2 {
    background-color: steelblue;
    color: ivory;
}

.caja-3 {
    background-color: darkseagreen;
    color: midnightblue;
}