.caja-1 {
    background-color: hsl(0, 100%, 50%); 
    color: hsl(0, 0%, 100%);
}
.caja-2 {
    background-color: hsl(120, 60%, 70%); 
    color: hsl(0, 0%, 20%);
}
.caja-3 {
    background-color: hsl(240, 70%, 60%); 
    color: hsl(0, 0%, 90%);
}




