.caja-1 {
    background-color: #ff5733; 
    color: #ffffff;
}
.caja-2 {
    background-color: #33ff57; 
    color: #000000;
}
.caja-3 {
    background-color: #3357ff; 
    color: #f1f1f1;
}