html {
    font-size: 16px;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f0f3f4;
}

.caja-1 {
    width: 35rem;
    font-size: 1.2rem;
    background-color: #9b59b6;
    color: #ffffff;
    margin-bottom: 15px;
    padding: 1rem;
}

.caja-2 {
    width: 25em;
    font-size: 1.1em;
    background-color: #e67e22;
    color: #ffffff;
    margin-bottom: 15px;
    padding: 1.5em;
}

.caja-3 {
    width: 45vw;
    font-size: 1.2vw;
    background-color: #1abc9c;
    color: #ffffff;
    padding: 20px;
}